body{
	background-image: url("../assets/back.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	bacground-position:center;
}
.container{
	/*width:50%;*/
	margin: auto;
	height:200vh;
	background: white;
}