body{
    background-color: #36454F;
    margin: 0;
    padding: 0;
    ackground-image: url(/images/background.jpg);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    font-family: 'Dosis', sans-serif;
    background-color: #FFFFFF;
    text-align: left;
    padding: 30px;
    height: 15vh;
    line-height: 10vh;
}
a:hover{
    color: gray;
}
header p{
    margin-left: 20px;
    margin-right: 20px;
}
header div p{
    display: inline-block;
}
hr{
    margin: 0;
    padding: 0;
    background-color: #3AAFA9;
    border: none;
    height: 2px;
}
.container{
    font-family: 'Dosis', sans-serif;
    border: solid;
    width: 300px;
    height: 150px;
    border-width: 1px;
    margin-right: 1px;
    background-color: #3AAFA9;
    border-radius: 12px;
}
.formrowone{
    padding-top: 5px;
    margin: 20px;
    display: flex;
}
.formrowone label{
    flex: 1;
}
.formrowone input{
    flex: 2;
    width: 100%;
}
.formrowtwo{
    padding-top: 5px;
    display: flex;
    margin: 20px;
}
.formrowtwo label{
    flex: 1;
}
.formrowtwo input{
    flex: 2;
    width: 100%;
}
.footer{
    font-size: 0.8rem;
    font-family: 'Dosis', sans-serif;
    height: 10vh;
    background-color: #FFFFFF;
    width: 100%;
    text-align: center;
    line-height: 5vh;
    color: black;
    position: absolute;
    bottom: 0;
}
a{
    text-decoration: none;
    color: black;
}
.submit{
    display: flex;
    justify-content: center;
    margin: 10px;
}
.submit input{
    width: 100px;
}
.banner a, h2{
    display: inline-block;
}
ul{
    font-family: serif;
    list-style-type: none;
    padding-left: 15px;
}
li{
    padding-left: 15px;
    font-size: 0.8em;
    margin-top: 4px;
    margin-bottom: 4px;
}
.container{
    position: absolute;
    margin-left: 50vw;
    display: inline-block;
    right: 20px;
    margin-top: 60px;
}
.article{
    border: solid;
    width: 200px;
    display: inline-block;
}
main{
    position: relative;
    min-height: 100vh;
}
article .sidebar{
    display: inline-block;
    flex: 0.15;
    height: inherit;
    width: 200px;
    background-color: #3AAFA9;
}
article{
    display: flex;
    min-height: 75vh;
}
article .schedule{
    display: inline-block;
    flex: 1;
    height: inherit;
}
.containercontainer{
    width: 100%;
}
