<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap" rel="stylesheet">
</head>
<body>   
    <main>
        <header>
            <div>
                <h2><a href="/index.html">Jet Express</a></h2>
            </div>
            <div>
                <a href="about.html"><p>About us</p></a>
                <a href="contact.html"><p>Contact us</p></a>
            </div>
        </header>
        <hr>
        <article>
            <div class="sidebar">
                <br>
                <ul>Invoices
                    <br>
                    <li><a href="">Customer Invoice</a></li>
                    <li><a href="">Company Invoice</a></li>
                </ul>
                <br><br>
                <ul>Tracking
                    <br>
                    <li><a href="">DHL</a></li>
                    <li><a href="">FEDEX</a></li>
                    <li><a href="">ARAMEX</a></li>
                    <li><a href="">BlueDart</a></li>
                    <li><a href="">UPS</a></li>
                </ul>
                <br><br>
                <ul>Drive
                    <br>
                    <li><a href="">Records</a></li>
                    <li><a href="drive.html">Go to Drive</a></li>
                </ul>
            </div>
            <div class="schedule">
                <div class="table">
                    <iframe src="https://drive.google.com/drive/folders/18ma6jMDgJZl23sDr15O8cKERAoxg7keC?usp=sharing" frameborder="0"></iframe>
                </div>
            </div>
        </article>
        <hr>
        <footer class="footer">
            <p>All rights reserved</p>
            <p>Copyright &copy; <script>document.write(new Date().getFullYear())</script>, Devesh Datwani</p>
        </footer>
    </main>
</body>
</html>